{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}

    {% for source in sources|default([]) %}
        <li>
            {{ source.text }}
            <ul>

                {% for target in source.targets %}
                    <li>
                        <i>{{ target.engine }}
                            {{ target.targetLocale }}
                        </i>
                        {{ target.targetText }}
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    survos translation server.
{% endblock %}
